{% extends 'base.html.twig' %}

{% block body %}
    <section class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h2 class="text-center mb-4">Welcome to our Blogging site !</h2>
                <p class="lead">Explore the latest articles, share your thoughts, and stay updated with our modern blog platform.</p>
            </div>
        </div>
    </section>
{% endblock %}
